<% if @meetrooms != [] %>

	<% @meetrooms.each do |m| %>
	 <%= link_to m.title, meetroom_path(m.id) %> <br>

	<% end %>

<% else %>
<p> No meetrooms! Please add your first meetroom. Your devs must have a please to provide meetings and calls!!! </p>
<% end %>
<% if super_member %>
<%= link_to "Add meetroom", new_meetroom_path %>
<% end %>



